.setButton {
  display: flex !important;
  background-color: #e0e0fe !important;
  color: #0b0e13 !important;
  border-radius: 10px !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  line-height: 14.4px !important;
  position: relative !important;
  white-space: nowrap !important;
  width: fit-content !important;
  text-transform: none !important;
}

.goalScoreButton {
  display: flex !important;
  background-color: #0e22e9 !important;
  border-radius: 10px !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  line-height: 14.4px !important;
  position: relative !important;
  white-space: nowrap !important;
  width: fit-content !important;
  text-transform: none !important;
  color: #f8f8ff !important;
}

.numberBox {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 0.3125rem !important;
  background-color: rgba(237, 237, 255, 1) !important;
  color: rgba(182, 183, 191, 1) !important;
  font-size: 0.875rem !important;
  font-weight: bold !important;

  &:hover {
    background-color: rgba(227, 227, 245, 1) !important;
  }
}

.activeNumber {
  @extend .numberBox;
  background-color: rgba(224, 224, 254, 1) !important;
  color: rgba(14, 34, 233, 1) !important;

  &:hover {
    background-color: rgba(214, 214, 244, 1) !important;
  }
}

.questionContainer {
  border-radius: 0.9375rem;
  background-color: rgb(222, 222, 239);
  align-self: center;
  display: flex;
  margin-top: 0.9375rem;
  max-width: 100%;
  flex-direction: column;
  color: rgba(11, 14, 19, 1);
  padding: 1.25rem 1.3125rem;
  font: 500 1.5rem 'Wix Madefor Text', -apple-system, Roboto, Helvetica, sans-serif;
}